@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Jersey+10&display=swap');

@import 'tailwindcss';

@theme {
  --font-jersey: 'Jersey 10';
}

body {
  font-family: Geist, Arial, sans-serif;
  background-color: #fafafa;
}
